$violet-1: #5101a6;
$violet-2: #200142;
$violet-3: #f6f6fa;
$violet-4: #150031;
$black-1: #000;
$black-2: #0b0b0b;
$black-3: #414141;
$white: #fff;
$gray-1: #e0e0e0;
$gray-2: #a0a0a0;
$gray-3: #cacaca;
$orange-1: #ff7a00;